# ==============================================================================
# Configurações Locais de Desenvolvimento e Scripts Externos (.env)
# ==============================================================================

# API SPTrans Olho Vivo (Tempo Real)
SPTRANS_TOKEN=SEU_TOKEN_API_OLHO_VIVO_SPTRANS

# Portal de Desenvolvedores SPTrans (Coleta de GTFS)
SPTRANS_USERNAME=SEU_USUARIO_PORTAL_SPTRANS
SPTRANS_PASSWORD=SUA_SENHA_PORTAL_SPTRANS

# OpenWeather API (Clima)
OPENWEATHER_KEY=SUA_CHAVE_OPENWEATHER

# HERE Traffic API (Tráfego Viário - Opcional)
HERE_API_KEY=SUA_CHAVE_HERE_API
